<div class="container">
    <h1>Hello, <%= username %>!</h1>
    <p>Welcome to the members area.</p>
    
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mb-3">
            <img src="/b09.png" alt="Image 1" class="img-fluid border rounded">
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-3">
            <img src="/cat2.png" alt="Image 2" class="img-fluid border rounded">
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-3">
            <img src="/exam_2.png" alt="Image 3" class="img-fluid border rounded">
        </div>
    </div>
    
    <a href="/logout" class="btn btn-danger mt-3">Logout</a>
</div>